[submodule "rt-thread"]
	path = rt-thread
	url = https://github.com/RT-Thread/rt-thread.git
[submodule "online_packages/packages"]
	path = online_packages/packages
	url = https://github.com/RT-Thread/packages.git
